.home-about {
    padding: 4em 0;
    max-width: 900px;
    margin: 0 auto;
    color: white;
  }

.home-more-stuff{
    padding: 4em 0;
    max-width: 900px;
    margin: 0 auto;
    color: white;
}

.more-stuff-grid {
    padding: 4em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
        1em,
        1fr
      );
  }

.columns {
    display: flex;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left{
    grid-column: 2/3 ;
    transform: translateX(-50%);
}

.from-right{
    grid-column: 3/4;
    transform: translateX(-50%);
}

.from-left,
.from-right{
    transition:  opacity 250ms ease-in,
     transform 400ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear{
    transform:  translateX(0);
    opacity: 1;
}